/*Umar Khan, project 1a, Jan/13/2021*/
body {font-family: 'Times New Roman', Times, serif, sans-serif, Arial;
    background-color: skyblue;
    text-align: center;
}

.divResults{
    color: #ffffff;
    background: #1717b9;
    font-size: 18px;    
}