/*Umar Khan, Final Part D, Mar 13, 2021*/

/*It displays the chosen background-color to the user, select a language from the given languages,
and brings the content in the center of the webpage*/
body {font-family: Arial, serif, sans-serif, Georgia, Courier, monospace; 
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #104C91;
    background-color: #104C91;
}

/*It creates a section in the center of the page, set the choosen background color of the section,
and set the inside and outside space for the section */
#container {
	height: 100%;
	background-color:#EFC9AF;
	background-size: cover;
	background-position: center;
	width: 90%; 
    margin: 0 50px;
	padding: 1.5%;
	overflow: auto;
    border:double;
    border-color: #104C91;
    border-width: 8px;
}

/*It displays underlined heading 1 with the choosen color*/
h1 {
    text-decoration: underline #1F8AC0;
}

/*It displays the paragraph in red color*/
#warning {
    color: #ff0000;
}

/*It sets the given color in the background of all the textfields, keeps the font size 15 px and 
bold*/
input {
    background-color: #EFC9AF;
    color: #104C91;
    font-size: 15px;
    font-weight: bold;
    padding: 3px;
}

/*It changes the color of the border, background, and font of the textfields, mouse over effect*/
input:hover {
    border-color: #104C91;
    background-color: #1F8AC0;
    color: #EFC9AF;
}

/*It hides the from the numeric textfields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*It creates the rounded corner of the button, make the text and button bigger from the inside, 
change the background and font color */
#button {  border-radius: 4px;
    padding: 6px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EFC9AF;
    color: #104C91;
    border-color: #1F8AC0;
}

/* It changes the color of the text and border of the button, mouse over effect*/
#button:hover {
    background-color: #1F8AC0;
    color: #EFC9AF;
    border-color:  #104C91;
}

/* It changes the color of the text on the button on click*/
#button:active {
    background-color: #EFC9AF;
    color: #1F8AC0;
}